# Variadic Functions
1. Excecute the cell -> Shift + Enter
2. Convert cell to markdown -> esc, m
3. Convert cell to code -> esc, y

In [1]:
# Ignore non harmful warnings
from warnings import filterwarnings 
filterwarnings("ignore")

In [1]:
def add(a: float, b: float) -> float:
    """
    This function adds two floats
    """
    c = a + b
    return c

# Understanding postional arguments and keyword arguments in Python

In [2]:
# Positional arguments
r1 = add(3.1, 4.2)
print(r1)

7.300000000000001

In [3]:
# Keyword arguments
r2 = add(a=23.0, b=11.5)
print(r2)

34.5

In [4]:
r3 = add(3, 4, 5)

TypeError: add() takes 2 positional arguments but 3 were given

In [7]:
add(2)

TypeError: add() missing 1 required positional argument: 'b'

### Write a function to add any amount of numbers
### *args -> This will act like postional arguments which is considered as tuple inside python

In [8]:
def func1(*args):
    print(f"Arguments : {args}")
    print(f"Type : {type(args)}")
    for i in args:
        print(i)

In [9]:
func1(1, 2)

Arguments : (1, 2)
Type : <class 'tuple'>
1
2

In [10]:
func1(23, 11, "Rahul", "Raman", True)

Arguments : (23, 11, 'Rahul', 'Raman', True)
Type : <class 'tuple'>
23
11
Rahul
Raman
True

In [11]:
b = [3, 4, 5, "Rahul", "Example", False, 12, 13]
func1(b)

Arguments : ([3, 4, 5, 'Rahul', 'Example', False, 12, 13],)
Type : <class 'tuple'>
[3, 4, 5, 'Rahul', 'Example', False, 12, 13]

In [12]:
## How to unpack the list inside variadic function
### After unpacking individual elements will be considerd as inputs
b = [3, 4, 5, "Rahul", "Example", False, 12, 13]
func1(*b)

Arguments : (3, 4, 5, 'Rahul', 'Example', False, 12, 13)
Type : <class 'tuple'>
3
4
5
Rahul
Example
False
12
13

## Add any amount of numbers

In [13]:
def add_multiple(*args):
    # intialize sum with 0
    s = 0
    # Apply for loop on args
    for i in args:
        s = s + i
    # Return the value of s
    return s

In [14]:
add_multiple(3, 4)

7

In [15]:
add_multiple(4, 5, 6)

15

In [16]:
add_multiple(34, 12, 13, 11, 25, 100, 125)

320

In [17]:
b = list(range(1, 100))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [18]:
# Unapck list and provide input
add_multiple(*b)

4950

### Keyword arguments
**kwargs - Act like a dictionary in python

In [19]:
def func2(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f"Key : {key}, Value : {value}")

In [20]:
func2(name="Rahul", age=28)

{'name': 'Rahul', 'age': 28}
<class 'dict'>
Key : name, Value : Rahul
Key : age, Value : 28

In [21]:
func2(name="Aditi", age=32, email="aditi@test.com")

{'name': 'Aditi', 'age': 32, 'email': 'aditi@test.com'}
<class 'dict'>
Key : name, Value : Aditi
Key : age, Value : 32
Key : email, Value : aditi@test.com

In [22]:
func2(name="Raman", age=20, contact = 21321, sal=35000)

{'name': 'Raman', 'age': 20, 'contact': 21321, 'sal': 35000}
<class 'dict'>
Key : name, Value : Raman
Key : age, Value : 20
Key : contact, Value : 21321
Key : sal, Value : 35000

### I want to user information with some flexibility

In [23]:
def user_info(**kwargs):
    user = {
        "name": None,
        "age": None,
        "email": None
    }
    user.update(kwargs)
    return user

In [24]:
u1 = user_info(name="Rahul", age=30, email="rahul@test.com")
print(u1)

{'name': 'Rahul', 'age': 30, 'email': 'rahul@test.com'}

In [25]:
u2 = user_info(name="Aditi", age=28)
print(u2)

{'name': 'Aditi', 'age': 28, 'email': None}

In [26]:
u3 = user_info(
    full_name="Utkarsh Gaikwad", 
    age=23, 
    email="u@test.com",
    city = "Pune"
)

In [27]:
print(u3)

{'name': None, 'age': 23, 'email': 'u@test.com', 'full_name': 'Utkarsh Gaikwad', 'city': 'Pune'}

In [28]:
u4 = user_info(
    name = "Priya",
    email = "p@test.com",
    state = "Maharastra",
    city = "Nashik",
    married = False
)
print(u4)

{'name': 'Priya', 'age': None, 'email': 'p@test.com', 'state': 'Maharastra', 'city': 'Nashik', 'married': False}

### Perform Restaurant Billing

Menu -> burger, pizza, pasta, coffee, tea

In [29]:
# Menu prices
menu_prices = {
    "burger": 120,
    "pizza": 300,
    "pasta": 250,
    "sandwich": 100,
    "coffee": 50,
    "tea": 30
}

In [30]:
print(menu_prices.get("burger"))

120

In [31]:
print(menu_prices.get("samosa"))

None

In [ ]:
type(menu_prices)

dict

In [33]:
menu_prices.items()

dict_items([('burger', 120), ('pizza', 300), ('pasta', 250), ('sandwich', 100), ('coffee', 50), ('tea', 30)])

In [34]:
# kwargs burger=2, menu, qty 
def billing(**kwargs):
    # Intialize total bill to 0
    total_bill = 0
    # Apply for loop on kwargs
    for food, qty in kwargs.items():
        price = menu_prices.get(food)
        if price is not None:
            line_total = price * qty 
            print(f"Food Item : {food}, Quantity : {qty}, Price : {price}, line total : {line_total}")
            total_bill = total_bill + line_total
        else:
            print(f"Food item : {food} not available in menu")
    
    # Print the final bill
    print(f"Total bill : {total_bill:.2f} INR")
    # Return the total bill
    return total_bill

In [35]:
menu_prices

{'burger': 120,
 'pizza': 300,
 'pasta': 250,
 'sandwich': 100,
 'coffee': 50,
 'tea': 30}

In [36]:
b1 = billing(burger=2, pasta=1, sandwich=1, coffee=4)

Food Item : burger, Quantity : 2, Price : 120, line total : 240
Food Item : pasta, Quantity : 1, Price : 250, line total : 250
Food Item : sandwich, Quantity : 1, Price : 100, line total : 100
Food Item : coffee, Quantity : 4, Price : 50, line total : 200
Total bill : 790.00 INR

In [37]:
b1

790

In [38]:
b2 = billing(pizza=2, tea=1, coffee=1)

Food Item : pizza, Quantity : 2, Price : 300, line total : 600
Food Item : tea, Quantity : 1, Price : 30, line total : 30
Food Item : coffee, Quantity : 1, Price : 50, line total : 50
Total bill : 680.00 INR

In [39]:
b3 = billing(pasta=1)

Food Item : pasta, Quantity : 1, Price : 250, line total : 250
Total bill : 250.00 INR

In [40]:
b4 = billing(pasta=2, pizza=1, samosa=1, coffee=3)

Food Item : pasta, Quantity : 2, Price : 250, line total : 500
Food Item : pizza, Quantity : 1, Price : 300, line total : 300
Food item : samosa not available in menu
Food Item : coffee, Quantity : 3, Price : 50, line total : 150
Total bill : 950.00 INR

### You can combine both postional and kwargs
1. postional args are always first
2. keyword args are last

In [41]:
def func3(*args, **kwargs):
    print(f"Args : {args}, Type : {type(args)}")
    for i in args:
        print(i)
    print(f"Kwargs : {kwargs}, Type : {type(kwargs)}")
    for key, value in kwargs.items():
        print(key, value)

In [42]:
func3(3,4,5,6)

Args : (3, 4, 5, 6), Type : <class 'tuple'>
3
4
5
6
Kwargs : {}, Type : <class 'dict'>

In [43]:
func3(a="Example", b=23, c=45.1, d=0)

Args : (), Type : <class 'tuple'>
Kwargs : {'a': 'Example', 'b': 23, 'c': 45.1, 'd': 0}, Type : <class 'dict'>
a Example
b 23
c 45.1
d 0

In [44]:
func3(3, 4, 5, 6, name="Rahul", age=23, married=True)

Args : (3, 4, 5, 6), Type : <class 'tuple'>
3
4
5
6
Kwargs : {'name': 'Rahul', 'age': 23, 'married': True}, Type : <class 'dict'>
name Rahul
age 23
married True